@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --link-color: #1976d2;
  --grey-color: #ccc;
  --verified-rgb: 68, 153, 119;
  --investigate-rgb: 204, 153, 204;
  --client-rgb: 153, 102, 0;
  --reviewed-rgb: 0, 153, 00;
  --rejected-rgb: 204, 0, 0;
  --finding-rgb: 204, 162, 0;
  --revised-rgb: 250, 100, 0;
  --remove-rgb: 204, 204, 204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
}

.formField {
  width: 100%;
}

.plainInput div {
  background-color: white !important;
  border: 0 !important;
}

.plainInput div::before {
  border: 0 !important;
}

.standardInput div {
  background-color: white !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  padding: 12px 10px;
  width: 100%;
  height: 62px !important;
}

.standardInput.multiline div {
  height: auto !important;
}
.noteInput div {
  background-color: white !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  padding: 12px 10px;
  width: 100%;
  height: 400px !important;
}

.noteInput textarea {
  height: 400px !important;
}

.MuiTypography-root.standardInputLabel {
  font-size: 20px;
  font-weight: 400;
  padding-top: 0px;
}

.MuiFormControl-root.standardInput textarea {
  height: 70px !important;
}

.standardInput div:before {
  border: 0 !important;
}

.standardInput.verified div {
  border: 1px solid rgb(var(--verified-rgb)) !important;
  background-color: rgba(var(--verified-rgb), 0.05) !important;
}

.standardInput.investigate div {
  border: 1px solid rgb(var(--investigate-rgb)) !important;
  background-color: rgba(var(--investigate-rgb), 0.1) !important;
}

.standardInput.client div {
  border: 1px solid rgb(var(--client-rgb)) !important;
  background-color: rgba(var(--client-rgb), 0.1) !important;
}

.standardInput.reviewed div {
  border: 1px solid rgb(var(--reviewed-rgb)) !important;
  background-color: rgba(var(--reviewed-rgb), 0.1) !important;
}

.standardInput.rejected div {
  border: 1px solid rgb(var(--rejected-rgb)) !important;
  background-color: rgba(var(--rejected-rgb), 0.1) !important;
}

.standardInput.remove div {
  border: 1px solid rgb(var(--remove-rgb)) !important;
  background-color: white !important;
}

.inputIcon,
button.inputIcon {
  color: #ccc;
}

button.iconButton {
  padding: 0px !important;
}

.inputIcon.note button.iconButton.highlight {
  color: #69c !important;
}

.inputIcon.finding button.iconButton.highlight {
  color: #cc7700 !important;
}

.inputIcon.help:hover,
.inputIcon.reference:hover,
button.inputIcon.flag:hover {
  color: #1976d2;
}

.inputIcon.finding .iconButton:hover {
  color: #cc7700;
}

.inputIcon.note .iconButton:hover {
  color: #1976d2 !important;
}

.helpText {
  font-size: 24px !important;
}

.referenceAccordian {
  border: 0 !important;
  background-color: transparent !important;
}

.referenceAccordian .referenceIcon {
  min-height: 27px !important;
  padding: 0 !important;
}

.referenceAccordian .referenceIcon div {
  margin: 0 !important;
}
.referenceData {
  background-color: #f6fcff;
}
.referenceAccordian .referenceIcon.active {
  color: #1976d2;
}

.buttonIconWrapper {
  min-width: 24px !important;
  padding: 0px !important;
}

.flagIcon {
  margin-right: 8px;
}

.flagIcon.investigate {
  color: rgb(var(--investigate-rgb));
}

.flagIcon.client {
  color: rgb(var(--client-rgb));
}

.flagIcon.verified {
  color: rgb(var(--verified-rgb));
}

.flagIcon.reviewed {
  color: rgb(var(--reviewed-rgb));
}

.flagIcon.rejected {
  color: rgb(var(--rejected-rgb));
}

.flagIcon.remove {
  color: rgb(var(--remove-rgb));
}

.RaMenuItemLink-active {
  font-weight: 600 !important;
}

.statusField {
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  width: 120px;
}
.statusField svg {
  margin-right: 8px;
  display: inline;
}

.statusField.pending {
  color: rgb(var(--remove-rgb));
}
.statusField.verified {
  color: rgb(var(--verified-rgb));
}
.statusField.with_client {
  color: rgb(var(--client-rgb));
}
.statusField.investigating {
  color: rgb(var(--investigate-rgb));
}
.statusField.revised {
  color: rgb(var(--revised-rgb));
}
.statusField.finding {
  color: rgb(var(--finding-rgb));
}
.statusField.modified {
  color: rgb(var(--rejected-rgb));
}

/* demo use only */
html {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
body {
  color: rgb(var(--foreground-rgb));
  background: url("/mocloud.jpg");
}

body > div {
  background: transparent !important;
}

header {
  background-color: #c06 !important;
}

.RaLoadingIndicator-loadedIcon {
  display: none !important;
}

.MuiTabs-root a {
  font-size: 24px;
  margin-top: 20px;
  padding: 5px 30px;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.RaUserMenu-userButton {
  font-size: 24px !important;
  margin-top: 20px !important;
  padding: 5px 30px;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.noteInput textarea {
  height: 360px !important;
  padding: 30px 10px !important;
}

.shortNoteInput div {
  background-color: white !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  width: 100%;
  height: 150px !important;
}

.shortNoteInput textarea {
  height: 120px !important;
  padding: 30px 10px !important;
}

.list-page {
  padding: 20px;
}
.demo-window,
.demo button {
  padding: 4px;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}
.filter-field {
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 1px 8px;
}

.RaDatagrid-root {
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  padding: 5px 8px;
}

.filter-field div {
  background-color: transparent !important;
}

.demo.title-bar {
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
}
.demo .title-bar-text {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 24px;
}
.demo .title-bar-controls {
  display: flex;
}
.title-bar-controls button {
  display: block;
  min-height: 18px;
  min-width: 20px;
  padding: 3px;
}
.title-bar-controls button[aria-label="Minimize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
  background-position: bottom 7px left 7px;
  background-repeat: no-repeat;
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 3px left 6px;
  background-repeat: no-repeat;
}

.title-bar-controls button[aria-label="Close"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 3px left 6px;
  background-repeat: no-repeat;
  margin-left: 2px;
}

.MuiTableCell-root span {
  font-size: 20px;
  webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif", Arial;
}

nav .MuiToolbar-root,
.MuiContainer-root {
  width: 96% !important;
}

.RaMenu-open a {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
  font-size: 24px;
}

.RaToolbar-defaultToolbar {
  padding: 20px;
}

.RaToolbar-defaultToolbar button,
.RaToolbar-defaultToolbar svg {
  font-size: 24px !important;
}

.MuiCardContent-root {
  padding: 40px !important;
}

.formField p {
  font-size: 28px !important;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.formField .MuiFormControl-root.standardInput textarea {
  height: 190px !important;
  font-size: 22px !important;
}

.formField .MuiGrid-item svg {
  margin-top: 8px !important;
}

.formField .MuiGrid-item svg,
.formField .MuiButtonBase-root svg {
  transform: scale(1.2);
}

.formField .referenceData p {
  font-size: 20px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.MuiTooltip-tooltip {
  font-size: 22px !important;
}

.MuiDialog-container form h2 {
  font-size: 24px !important;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.MuiDialog-container form p {
  font-size: 18px !important;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
#main-content .MuiGrid-spacing-xs-2 .MuiGrid-item.sidebar:first-child {
  flex-basis: 13%;
  max-width: 13%;
}

#main-content .MuiGrid-spacing-xs-2 .MuiGrid-item.panel:nth-child(2) {
  flex-basis: 86%;
  max-width: 86%;
}
.MuiMenu-list li {
  font-size: 22px !important;
}
/* demo use only */
